* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}


.logo {
    text-align: center;
}

.subtitle {
    text-align: center;
    padding: 20px;
    font-size: 19px;
    font-weight: 500;
}

.inputs {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);
}

#emailInput, #passwordInput {
    padding: 18px;
    border-radius: 8px;
    width: 350px;
    outline: none;
    border: 1px solid #c0c2c4;
}

#emailInput::placeholder, #passwordInput::placeholder{
    font-size: 16px;
}

#emailInput {
    border: 1px solid red;
}

#passwordInput {
    margin-bottom: 10px;
}

.error-msg {
    width: 350px;
    font-size: 13px;
    margin: 10px 0;
    text-align: left;
    font-weight: 500;
    color: red;
}

.error-msg a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.error-msg a:hover {
    text-decoration: underline;
    color: red;
    font-weight: bold;
    
}


.loginButton {
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #126ee7;
    background-color: #126ee7;
    color: #fff;
    margin: 0 0 13px 0;
}

.loginButton:hover{
    opacity: .9;
    transition: .6s;
}

.passRecovery {
    text-align: center;
    padding: 0 0 25px 0;
}

.passRecovery a {
    text-decoration: none;
    color: #0a64f5;
    font-size: 16px;

}

.passRecovery a:hover {
    text-decoration: underline;
}


.registerButton{
    padding: 15px 20px;
    background-color: #42B72A;
    outline: none;
    border: 1px solid #42B72A;
    font-weight: bold;
    font-size:17px;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.registerButton:hover{
    background-color: #3eaa28;
}

.subtitle p {
    padding: 0 70px;
    font-size: 14px;
    margin: 0;
    width: 500px;
    text-align: center;
}

.subtitle p a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}